 [Unit]
 Description=Photofinish Service
 After=network.target

 [Service]
 Type=simple
 User=pi
 WorkingDirectory=/home/pi/code/github.com/kallelindqvist/photofinish/
 ExecStart=/home/pi/code/github.com/kallelindqvist/photofinish/venv/bin/gunicorn --threads 5 -b localhost:5000 app:app

 [Install]
 WantedBy=multi-user.target