.parent {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 3fr 1fr;
    grid-column-gap: 3em;
    grid-row-gap: 3em;
}

.divImage {
    grid-area: 1 / 1 / 4 / 2;
    display: grid;
    grid-template-columns: max-content max-content;
    grid-gap: 3px;
}

.divStatus {
    display: grid;
    grid-template-columns: max-content max-content;
    grid-gap: 3px;
    grid-area: 1 / 2 / 2 / 3;
}

.divSettings {
    display: grid;
    grid-template-columns: max-content max-content;
    grid-gap: 3px;
    grid-area: 2 / 2 / 3 / 3;
}

.divActions {
    display: grid;
    grid-template-columns: max-content max-content;
    grid-gap: 3px;
    grid-area: 3 / 2 / 4 / 3;
}

fieldset {
    height: fit-content
}

fieldset label {
    text-align: right;
}

fieldset label:after {
    content: ":";
}

input[type="number"] {
    width: 3em;
}

.changed {
    border-color: #ff4500;
}

form.unsaved-changes {
    border: 2px solid #ff4500;
}

html,
body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content-wrapper {
    flex: 1;
}

footer {
    margin-top: auto;
}

.insideWrapper {
    width: 1332px;
    height: 990px;
    position: relative;
}

.coveredImage {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}

.coveringCanvas {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(255, 0, 0, .1);
}

.slider {
    width: 100%;
}

.actions button {
    width: 100%;
    height: 5em;
}

* {
    font-size: 105%;
}