<!doctype html>
<title>Hello from Flask</title>

{% extends 'base.html' %}

{% block content %}
{% set name='baz' %}
<h1>Målkamera</h1>
<div class="parent">
  <div class="div1">

    <fieldset>
      <legend>Förhandsgranskning</legend>
      <img id="imagePreview" src="{{ url_for('take_photo') }}" width="512" height="512" style="object-fit: scale-down">
      <button type="button" onclick="updateImage()">
      Uppdatera bild
      </button>
    </fieldset>
    </fieldset>
  </div>
  <div class="div2">
    <fieldset class="status">
      <legend>Status</legend>
      <label>Hundbur</label><span>{{ cage_status }}</span>
    </fieldset>
  </div>
  <div class="div3">
    <button type="button">
      Starta race
    </button>
    <br />
    <button type="button">
      Avsluta race
    </button>
  </div>
  <div class="div4">
    <form method="post">
      <fieldset class="settings">

        <legend>Inställningar</legend>
        <label>Börja filma efter</label><input name="start_filming_after" type="number" maxlenght="2" value="{{ start_filming_after }}" />
        sekunder<br>
        <label>Sluta filma efter</label><input name="stop_filming_after" type="number" maxlength="3" value="{{ stop_filming_after }}" />
        sekunder<br>
        <button type="submit">
          Spara inställningar
        </button>
      </fieldset>
    </form>
  </div>
</div>
<script src="{{ url_for('static', filename='index.js' ) }}"></script>
{% endblock %}