<!doctype html>
<title>Hello from Flask</title>

{% extends 'base.html' %}

{% block content %}
{% set name='baz' %}
<h1>Målkamera</h1>
<div class="parent">
  <div class="divImage">
    <fieldset>
      <legend>Race</legend>
      <select id="race">
        <option value="latest">Senaste</option>
        <option value="20240316T123412">2024-03-16T12:34:12</option>
      </select>
      <img id="image" src="{{ url_for('static', filename='race/image_0001.jpg') }} ">
      <input type="range" id="image_index" name="image_index" value="1" min="1" max="{{ max }}">
      <br>

      <button type="button" onclick="updateImage()">
        Uppdatera bild
      </button>
        
      </button>
      <form method="post">
        <input type="hidden" name=start_race value="1">
        <button type="submit">
          Starta race
        </button>
      </form>
      <form method="post">
        <input type="hidden" name=stop_race value="1">
        <button type="submit">
          Avsluta race
        </button>
      </form>
    </fieldset>
  </div>
  <div class="divStatus">
    <fieldset class="status">
      <legend>Status</legend>
      <label>Hundbur</label><span>{{ cage_status }}</span>
      <label>Race aktivt</label><span>{{ race_active }}</span>
    </fieldset>
  </div>

  <div class="divSettings">
    <form method="post">
      <fieldset class="settings">

        <legend>Inställningar</legend>
        <label>Vänd upp och ner på bilden</label><input name="flip_image" type="checkbox" value="true" {{ 'checked' if flip_image }} /><br>
        <label>Börja filma efter</label><input name="start_filming_after" type="number" maxlenght="2" value="{{ start_filming_after }}" />
        sekunder<br>
        <label>Sluta filma efter</label><input name="stop_filming_after" type="number" maxlength="3" value="{{ stop_filming_after }}" />
        sekunder<br>
        <button type="submit">
          Spara inställningar
        </button>
        
      </fieldset>
    </form>
    <form method="post">
      <fieldset class="settings">
        <input type="hidden" name="reset_settings" value="1" />
        <legend>Återställ inställningar</legend>
        <button type="submit">
          Återställ inställningar
        </button>
      </fieldset>
    </form>
  </div>
</div>
<script src="{{ url_for('static', filename='index.js' ) }}"></script>
<script src="{{ url_for('static', filename='images.js' ) }}"></script>
{% endblock %}