<!doctype html>
<title>Hello from Flask</title>

{% extends 'base.html' %}

{% block content %}
{% set name='baz' %}
<h1>Målkamera</h1>
<div class="parent">
  <div class="divImage">
    <fieldset>
      <legend>Race</legend>
      <select id="race" onchange='raceChanged(this.value)'>
        {% for race in races %}
        <option value="{{ race.start_time }}">{{ race.start_time }}</option>
        {% endfor %}
        <option value="preview">Förhandsgranska</option>
      </select>
      <img id="image" src="{{ image_src }} ">
      <input type="range" id="image_index" name="image_index" value="1" min="1" max="{{ max }}">
      <br>
        
      </button>
      <button type="submit" onclick="startRace()">
        Starta race
      </button>
      <button type="submit" onclick="stopRace()">
        Avsluta race
      </button>
    </fieldset>
  </div>
  <div class="divStatus">
    <fieldset class="status">
      <legend>Status</legend>
      <label>Hundbur</label><span id="cage_status">{{ cage_status }}</span>
      <label>Race</label><span id="race_status">{{ race_status }}</span>
    </fieldset>
  </div>

  <div class="divSettings">
    <form method="post">
      <fieldset class="settings">

        <legend>Inställningar</legend>
        <label>Vänd upp och ner på bilden</label><input name="flip_image" type="checkbox" value="true" {{ 'checked' if flip_image }} /><br>
        <label>Börja filma efter</label><input name="start_filming_after" type="number" min="0" max="99" value="{{ start_filming_after }}" />
        sekunder<br>
        <label>Sluta filma efter</label><input name="stop_filming_after" type="number" min="0" max="99" value="{{ stop_filming_after }}" />
        sekunder<br>
        <button type="submit">
          Spara inställningar
        </button>
        
      </fieldset>
    </form>
    <form method="post">
      <fieldset class="settings">
        <input type="hidden" name="reset_settings" value="1" />
        <legend>Återställ inställningar</legend>
        <button type="submit">
          Återställ inställningar
        </button>
      </fieldset>
    </form>
  </div>
</div>
<script src="{{ url_for('static', filename='images.js' ) }}"></script>
<script src="{{ url_for('static', filename='scripts/lib/socket.io.js' ) }}"></script>
<script src="{{ url_for('static', filename='websocket.js' ) }}"></script>
{% endblock %}
